.header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-top: 4px solid #81d8d0;
  background: #fff;
}
.logo-tiffany{
  width: 100%;
}
.container-left,
.container-right{
  display: flex;
  align-items: center;
  gap: 40px;
}
.container-center{
  max-width: 200px;
}
.container-anchor{
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.container-left-icon,
.container-right-icon{
  width: 16px;
  height: 16px;
  background-size: cover;
  background-repeat: no-repeat;
}